#arrow-down {
  width: 30px;
}

.carousel-container {
  margin-top: 50px;
  margin-bottom: 40px;
}

.carousel-text {
  position: absolute;
  top: 720px;
  margin-left: 40px;
}

.carousel-blog-post-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.all-blogposts-wrapper {
}

.blogposts-list {
  gap: 4vw;
  flex-wrap: wrap;
  padding: 0px;
}

.blogpost-image {
  object-fit: cover;
  height: 200px;
}

.post-container {
  width: 356px;
  transition: 0.2s;
  cursor: pointer;
}

.post-container:hover {
  transition: 0.2s;
  transform: scale(1.15);
}

.postcontainer-bottom {
  padding: 20px;
  height: 150px;
  background-color: #2b2b2b;
}
