#arrow-down {
  width: 30px;
}

.scroll-button {
  cursor: pointer;
  height: fit-content;
  align-self: center;
  margin: 0px 30px;
  background-color: 232323;
  padding: 10px 25px;
  border-radius: 200px;
  transition: 0.3s;
}

.scroll-button:hover {
  transition: 0.3s;
  background-color: #2b2b2b;
}

.carousel-container {
  margin-top: 50px;
  margin-bottom: 40px;
}

.carousel-text {
  position: absolute;
  top: 715px;
  align-self: flex-start;
  margin-left: 15px;
  background-color: #282444b8;
  padding: 5px 20px;
}

.carousel-blog-post-image {
  width: 80vw;
  height: 600px;
  max-width: 1200px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.5);
}

.all-blogposts-wrapper {
}

.blogposts-list {
  gap: 4vw;
  flex-wrap: wrap;
  padding: 0px;
}

.blogpost-image {
  object-fit: cover;
  height: 200px;
}

.post-container {
  width: 356px;
  transition: 0.2s;
  cursor: pointer;
  margin-bottom: 40px;
}

.post-container:hover {
  transition: 0.2s;
  transform: scale(1.15);
  box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.232);
}

.postcontainer-bottom {
  padding: 20px;
  height: 150px;
  background-color: #2b2b2b;
}

.editOrDeleteWrapper {
  background-color: #2b2b2b;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
}
