.headTextWrapper {
  gap: 50px;
}

.signInForm {
  gap: 20px;
}

.signInForm > input {
  border-radius: 10px;
  font-size: 17px;
  background-color: #d9d9d9;
  padding: 10px;
  font-family: "inter";
}

.signInForm > label {
  font-family: "inter";
}

footer {
  position: absolute;
}

@media screen and (max-width: 800px) {
  footer {
    position: relative;
    bottom: -60px !important;
  }
}
