
/* ------------------- Templates for more common use-case ---------------------- */




.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-r {
    display: flex;
    flex-direction: row;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.center-horizontal {
    display: flex;
    align-items: center;
}

.center-vertical {
    display: flex;
    justify-content: center;
}

.center-both {
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-highlight {
    cursor: pointer;
}


.username-form {

}

.password-form {

}


.button-round {

}

.create-post-button {
    gap: 10px;
    background-color: #201C34;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    cursor: pointer;
}

.button-square {

}


